    hr.footer-start
    footer.footer
      nav.footer__menu
        a.main-page(href='#') DREAMSHARE
        a.company(href='#')
          | Company
          ul.company__info
            li About
            li Contact
            li Press
            li Blog
            li Terms and Privacy
            li Help
        a.partners(href='#') Partners
      section.design
        h2.design__text DESIGNED BY
        .design__logo