
    header.header
      nav.header__menu
        a.logo(href='#') DREAMSHARE
        .account
          a.account__log-in(href='#') Log in
          button.account__sign-in Sign up
      h1.header__article
        | SHARE YOUR 
        br
                HOLIDAY DREAM
      h3.header__text
        | And find the perfect partner to fullfill it
      h5.header__text-border Find your holiday partner