
    main.main
      h1.main__header How Dreamshare works?
      section.main__how-works
        .step1
          p.step1__button Step 1
          h2.step1__main-text Sed leo enim, condimentum
          h3.step1__text
            | Quisque libero libero, dictum non turpis in, luctus semper lorem.
            | Donec rhoncus a leo sit amet facilisis.
        .step2
          p.step2__button Step 2
          h2.step2__main-text Morbi velit risus
          h3.step2__text
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus,
            | sit amet porttitor est.
        .step3
          p.step3__button Step 3
          h2.step3__main-text Sed leo enim, condimentum
          h3.step3__text
            | Quisque libero libero, dictum non turpis in, luctus semper lorem.
            | Donec rhoncus a leo sit amet facilisis.
      h1.main__header Meet a partner for your best holiday
      section.main__avatars
        .container-avatar
          .avatar-photo1
          .avatar-text
            h2.avatar-text__name Bradley Hunter
            p.avatar-text__info
              | Based in Chicago. I love playing tennis and loud music
        .container-avatar
          .avatar-photo2
          .avatar-text
            h2.avatar-text__name Marie Bennett
            p.avatar-text__info
              | Currently living in Colorado. Lover of art, languages and
              | travelling.
        .container-avatar
          .avatar-photo3
          .avatar-text
            h2.avatar-text__name Diana Wells
            p.avatar-text__info
              | Living in Athens, Greece. I love black and white classics,
              | chillout music and green tea.
        .container-avatar
          .avatar-photo4
          .avatar-text
            h2.avatar-text__name Christopher Pierce
            p.avatar-text__info
              | Star Wars fanatic. I have a persistent enthusiasm to create new
              | things.
      button.see-other See other partners
      h1.main__header Discover holiday activity ideas
      section.main__activity
        .sport
        .health
        .extreme
        .games
        dsiv.culture
        .relaxation
        .travelling
      h1.main__header.last-header Crate your holiday activity
      p.main__question Hi! What are your holiday interests?
      .main__input
        form
          input.input-interests(type='text', placeholder='Enter your insterests')
        form
          input.search(type='button', value='Search partners')